@import url(variables.css);
*{
    padding: 15px;
    margin: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    flex-direction: row;
}
.section__header {
    width: 50%;
    
}
.article__circle {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.article__circle img{
    width: 140px;
    height: 140px;
}
.title__content {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
}
.title__content h1{
    font-family: "PlayfairDisplay-Bold";
    color: var(--color-title);
    font-size: 82px;
}
.title__content p{
    font-family: "WorkSans-Regular";
    color: var(--color-2);
    font-size: 31px;
}
.content__button {
    margin-top: 28px;
    display: flex;
    gap: 35px;
}
.button:nth-child(1){
    background: var(--color-title);
    border-radius: 15px;
    width: 240px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button:nth-child(2){
    border: 1px solid var(--color-2);
    border-radius: 15px;
    width: 280px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button a{
    font-family: "WorkSans-Medium";
    font-size: 25px;
}
.button:nth-child(1) a{
    text-decoration: none;
    color: var(--color-3);
}
.button:nth-child(2) a{
    text-decoration: none;
    color: var(--color-2);
}
.section__product {
    width: 50%;
}
.section__product img{
    width: 100%;
}
.section__list {
    border: 1px solid var(--color-4);
    border-radius: 25px;
    display: flex;
    width: 46.2%;
    position: relative;
    top: -200px;
    left: 42px;
}
.list__content {
    
}
.list__content p{
    font-family: "WorkSans-Regular";
    font-size: 20px;
}
