:root{
    --color-prymary: #252525;
}
@font-face {
    font-family: "Avenir-Heavy";
    src: url(../storage/font/avenir/Avenir\ Heavy.ttf);
}
@font-face {
    font-family: "Avenir-Roman";
    src: url(../storage/font/avenir/AvenirLTStd-Roman.otf);
}
