:root{
    --color-title: #050505;
    --color-2: #333333;
    --color-3: #fff;
    --color-4: #111111;
}
@font-face {
    font-family: "PlayfairDisplay-Bold";
    src: url(../storage/font/playfairDisplay/static/PlayfairDisplay-Bold.ttf);
}
@font-face {
    font-family: "WorkSans-Regular";
    src: url(../storage/font/workSans/static/WorkSans-Regular.ttf);
}
@font-face {
    font-family: "WorkSans-Medium";
    src: url(../storage/font/workSans/static/WorkSans-Medium.ttf);
}