:root{
    --color-background: #A42405;
    --color-1: #fff;
    --color-2: #080808;
    --color-3: #E5B94B;
}
@font-face {
    font-family: "WorkSans-Bold";
    src: url(../storage/font/workSans/static/WorkSans-Bold.ttf);
}
@font-face {
    font-family: "WorkSans-Light";
    src: url(../storage/font/workSans/static/WorkSans-Light.ttf);
}
@font-face {
    font-family: "WorkSans-Medium";
    src: url(../storage/font/workSans/static/WorkSans-Medium.ttf);
}